*, *>* {
	box-sizing: border-box;
	padding: 0.1px;
}
body {
	margin: 0;
	color: #cfcfcf;
	background-color: #0f0f0f
}
p {
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	width: 100%;
}

#pageContainer {
	padding: 0.1px;
	width: 600px;
	margin: 0 auto;
}
#controlsContainer {
	border: 1px solid grey;
    margin: 12px auto;
    padding: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#controlsContainer button {
    display: block;
    margin: 0px auto;
    width: 50%;
    padding: 44px 80px;
    color: lightgrey;
    font-size: 24px;
    letter-spacing: 20px;
    text-transform: uppercase;
}

button#play {
	background-color: rgba(50, 190, 190, 0.6);
}
button#play.is-active {
	background-color: rgba(65, 255, 255, 1);
	color: black;
}
button#stop {
	background-color: rgba(190, 80, 80, 0.6);
}
button#stop.is-active {
	background-color: rgba(255, 65, 65, 1);
	color: black;
}

div#scalesContainer {
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    max-width: 600px;
    margin: 6px auto;
}
#scalesContainer p {
	text-align: center;
}
ul#majorScales,
ul#minorScales {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 8px;
	border: 1px solid grey;
}
button.oneScale {
    width: 72px;
    padding: 8px;
    margin: 6px;
}



#customScalesContainer {
	width: 550px;
	margin: 12px auto;
	border: 1px solid grey;
	padding: 18px;
}
#customScaleTxt {

}
#customNotes {
    margin: 0 auto;
    width: 80%;
}
#customNotes li {
	display: inline-block;
}
#customNotes button {
	padding: 8px;
	width: 44px;
	margin: 6px;
}
#customNotes button.altered {
	padding: 2px;
}

#removeAllCustomNotes,
#validateCustomNotes {
    width: 60%;
    padding: 12px;
    margin: 6px auto;
    display: block;
}

button.lightUp-left {
	background-color: aquamarine;
}
button.lightUp-right {
	background-color: tomato;
}


#volumeContainer li {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	margin-top: 3px;
}

